* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.page{
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgba(170, 172, 173, 0.315);
}

.header{
    position: relative;
    top: 80px;
    left: 50px;
    height: 300px;
    width: 400px;
}

.login{
    font-size: larger;
    text-align: center;
    letter-spacing: 2px;
}

input{
    background-color: rgba(170, 172, 173, 0.247);
    position: relative;
    left: 50px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid rgba(170, 172, 173, 0.247);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.email{
    margin-bottom: 20px;
    margin-top: 20px;
}

.password{
    margin-bottom: 20px;
}

.rem_pas{
    display: inline-block;
}

span{
    float: right;
    position: absolute;
    left: 70px;
    display: inline;
}

.forgot{
    display: inline;
    float: right;
    position: absolute;
    right: 20px;
}

.button{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgb(243, 24, 133);
    width: 325px;
    height: 40px;
    line-height: 37px;
    position: relative;
    left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.button:hover{
    background-image: linear-gradient(to bottom right, rgb(255, 0, 234), yellow);
    cursor: pointer;
}

.header2{
    position: relative;
    top: 80px;
    left: 50px;
    height: 250px;
    width: 400px;
    margin-top: 10px;
}
.title{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.title:before, .title:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 115px;
    height: 1px;
    background-color: rgba(42, 42, 43, 0.288);
    position: relative;
}


.title:before{
    margin-left: -100%;
    left: -14px;
}

.title:after {
    margin-right: -100%;
    right: -14px;
}

.icons_soc{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 50px;
    height: 150px;
    width: 325px;
    margin-top: 20px;
}

.fb, .twitter, .linkedin{
    position: relative;
    display: inline;
    padding: 20px;
    left: 40px;
}


.footer{
    position: relative;
    top: 50px;
    left: 50px;
    height: 40px;
    width: 400px;
    margin-top: 10px;
    text-align: center;
    color: rgba(42, 42, 43, 0.288);
}
